.ml-auto {
    margin-left: auto;
}

.mr-1 {
   margin-right: 10px;
}

.text-inherit {
   color: inherit;
}

.text-brand {
   margin: 0 5px;
   color: var(--state-primary);
   border-bottom: 1px solid var(--state-primary);
}

.no-scroll {
   overflow: hidden;
   height: 100%; 
}