.ml-auto {
    margin-left: auto;
}

.mr-1 {
   margin-right: 10px;
}

.ls-2 {
   letter-spacing: 0.48px;
}

.ls-1 {
   letter-spacing: 0.32px;
}

.text-inherit {
   color: inherit;
}

.text-brand {
   margin: 0 5px;
   color: var(--state-primary);
   border-bottom: 1px solid var(--state-primary);
}