@import '../../styles/abstract/variables';
@import '../../styles/abstract/mixins';

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.buttonWrapper {
  gap: 20px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;

  @include create-mq($grid__bp-md, 'min') {
    flex-direction: row;
  }
}