@import '../../styles/abstract/variables';
@import '../../styles/abstract/mixins';
@import '../../styles/abstract/functions';

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
