@import '../../../styles/abstract/functions';

.root {
  display: block;
  font-weight: 500;
  font-size: toRem(18px);
  color: var(--color-text);
}

.new {
  font-size: toRem(20px);
  color: var(--state-info);
}

.old {
  font-size: 1rem;
  color: var(--gray);
  text-decoration: line-through;
}

.value {
  margin-right: 2px;
}

.currency {
  text-transform: uppercase;
}
