.lineContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
  margin-bottom: 16px;
}

.line {
  position: absolute;
  width: 100%;
  height: 1px;
  background: var(--gray);
  top: 50%;
}

.text {
  background-color: var(--body-bg);
  padding: 0 20px;
  z-index: 1;
}

.dark {
  background-color: var(--dark);
}

.btnLogin {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.error {
  color: red;
}

.none {
  display: none;
}

.progressContainer {
  display: flex;
  gap: 12px;
  margin-top: 44px;
  margin-bottom: 14px;
}

.progress {
  height: 12px;
  width: 100%;
  background: var(--spicy-orange);
}

.progressActive {
  background: var(--spicy-orange-active);
}
.checkboxWrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inputTitle {
  margin-left: 5px;
  font-size: 1.2rem;
}

.billingWrap {
  border-top: 3px solid #000;
  margin-top: 10px;
}