.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 60px 0px 144px 0px;
  gap: 5%;
}

.loginWrap {
  flex: 2;
}

.posterWrap {
  flex: 1.7;
}

.title {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.64px;
  color: var(--color-text);
}

.fontImg {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}