@import '../../style/abstract/variables';
@import '../../style/abstract/mixins';

.root {
  display: inline-block;
  width: 100px;
  height: 22px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url('./images/logo-mob.svg');
  @include create-mq($grid__bp-lg, 'min') {
    width: 160px;
    height: 94px;
    background-image: url('./images/logo.svg');
  }
}
.logoWhite {
  background-image: url('./images/logo-white-mob.svg');
  @include create-mq($grid__bp-lg, 'min') {
    background-image: url('./images/logo-white.svg');
  }
}
