@import '../../styles/abstract/variables';
@import '../../styles/abstract/mixins';

.root {
  display: inline-block;
  width: 60px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url('./images/logo-mob.svg');

  @include create-mq($grid__bp-xs, 'min') {
    width: 100px;
    height: 22px;
  }

  @include create-mq($grid__bp-md, 'min') {
    width: 160px;
    height: 94px;
    background-image: url('./images/logo.svg');
  }
}

.dark {
  background-image: url('./images/logo-light-mob.svg');

  @include create-mq($grid__bp-md, 'min') {
    background-image: url('./images/logo-light.svg');
  }
}

.logoWhite {
  background-image: url('./images/logo-white-mob.svg');

  @include create-mq($grid__bp-md, 'min') {
    background-image: url('./images/logo-white.svg');
  }
}
