@import '../../styles/abstract/variables';
@import '../../styles/abstract/mixins';
@import '../../styles/abstract/functions';

.root {
  position: relative;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  color: var(--white);

  @include create-mq($grid__bp-sm, 'min') {
    padding: 20px 250px 20px 20px;
    min-height: 200px;
  }

  @include create-mq($grid__bp-md, 'min') {
    width: 340px;
    min-height: auto;
    margin-bottom: 0;
    padding: 150px 20px 20px;
  }

  &:nth-child(1) {
    background-color: var(--state-info);

    .button {
      color: var(--state-info);
    }
  }

  &:nth-child(2) {
    background-color: var(--state-success);

    .button {
      color: var(--state-success);
    }
  }

  &:nth-child(3) {
    background-color: var(--purple);

    .button {
      color: var(--purple);
    }
  }
}

.img {
  position: absolute;
  right: 20px;
  top: 20px;

  @include create-mq($grid__bp-sm - 1, 'max') {
    display: none;
  }
}

.title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: toRem(28px);
}
