@import '../../styles/abstract/variables';
@import '../../styles/abstract/mixins';
@import '../../styles/abstract/functions';

.root {
  position: relative;
  font-size: toRem(20px);
}

.container {
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  gap: 10px;
  align-items: start;
  padding: 20px 24px;

  @include create-mq($grid__bp-sm, 'min') {
    padding: 20px 44px;
  }
}

.wrapper {
  display: flex;
  align-items: center;
}

.logo {
  grid-row: span 2;

  @include create-mq($grid__bp-sm, 'min') {
    margin-right: 100px;
  }
}

.flex {
  display: flex;
  align-items: center;

  .badge,
  .icon {
    margin-right: 10px;
  }
}

.badge {
  display: inline-block;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--state-primary);
  font-size: 1.25rem;
  line-height: 1;
  font-weight: 500;
  color: var(--light-white);
}

.iconLogout {
  margin-left: 10px;
}

.search {
  @include create-mq($grid__bp-lg, 'min') {
    width: 560px;
  }
}

.link {
  font-size: toRem(24px);
  margin: 0 1rem;
  transition: color var(--transition-duration) var(--transition-easing);

  &:hover {
    color: var(--state-primary-hover);
  }
}

.navbar {
  display: flex;
  align-items: center;
  min-height: 68px;
  background-color: var(--nav-bg);

  .menu {
    font-size: toRem(24px);
  }
}
