@import '../../styles/abstract/variables';
@import '../../styles/abstract/mixins';
@import '../../styles/abstract/functions';

.root {
  margin-top: auto;
  background-color: var(--violet);
  font-size: toRem(20px);
  color: var(--light-white);

  @include create-mq($grid__bp-sm, 'min') {
    padding-top: toRem(40px);
  }
}

.copyright {
  padding: toRem(12px) 0;
  font-size: 80%;
  text-align: center;
  margin: 0;
  background-color: var(--black);
}

.divider {
  margin: 0 10px;
}

.logo {
  display: block;
  margin-bottom: 36px;
}

.link {
  color: var(--light-white);
  transition: transform 0.3s ease-in-out;

  &::after {
    background-color: var(--white);
  }

  &:hover {
    color: var(--white);

  }
}

.footerRow {
  display: flex;
  justify-content: space-between;
}

.footerColumn {
  padding: 0 10px;
}

.footerMenu {
  li {
    display: block;
  }
}

.links {
  display: flex;
  margin-top: 1rem;
}