@import '../../styles/abstract/variables';
@import '../../styles/abstract/mixins';
@import '../../styles/abstract/functions';

.root {
  margin-top: auto;
  background-color: var(--violet);
  color: var(--light-white);
  
  @include create-mq($grid__bp-sm, 'min') {
    padding-top: toRem(40px);
  }
}

.copyright {
  padding: toRem(12px) 0;
  font-size: 80%;
  text-align: center;
  margin: 0;
  background-color: var(--black);
}
